name: main

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v3

      - name: Run unit tests
        run: ./gradlew test --stacktrace

      - name: Run lint
        run: ./gradlew lint --stacktrace
